@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDB0Mm1odmNqNG1laG5rczR5MWd3eGVhZDk4Ym51aHk5YzZ1aGNjNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2RgN7WUjeUUXm0/giphy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}